// Primary and Secondary Colors

$primary-color: #dedd98;
$secondary-color: #2f1f25;
$tertiary-color: #b39e42;
$quarternary-color: #252717;
$quinary-color: #15353c;

.color-bank-1 {
  color: #2f1f25;
  color: #252717;
  color: #15353c;
  color: #b39e42;
  color: #dedd98;
}

// $primary-color: #85cbe8;
// $secondary-color: #396791;
// $tertiary-color: #e2d0c5;
// $quarternary-color: #cea861; 
// $quinary-color: white;

.color-bank-2 {
  color: #85cbe8;
  color: #396791;
  color: #e2d0c5;
  color: #cea861; 
  color: white;
}