html {
  scroll-behavior: smooth;
}

.create-an-account {
  padding: 40px;
}

.error-login {
  color: white;
  margin-right: 20px;
}

.form {
  margin: auto;
  max-width: 300px;
}

.input {
  max-width: 300px;
  margin: 8px 0;
}

.introduction {
  padding: 40px;
}

.passwords-dont-match {
  color: red;
}

.passwords-match {
  color: green;
}

.register-button {
  max-width: 200px;
}

/* This fixed a known issue with the 'row' class */
/* https://stackoverflow.com/questions/19432787/bootstrap-3-0-0-adding-extra-space-on-row-class */
.row {
  margin-left: 0px;
  margin-right: 0px;
}