a {
  color: #85cbe8;
}

a:hover {
  color: white;
}

body {
  /* background-image: url('../img/book-review-background-03.svg'); */
  background-color: #e2d0c5;
  /* background-color: white; */
  color: white;
  /* height: 100%; */
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.alert-div {
  display: flex;
}

.btn {
  color: white;
  background-color: #396791;
  border: none;
}

.btn-submit {
  border: 2px solid #85cbe8;
}

.btn:hover {
  color: #396791;
  background-color: #85cbe8;
}

.center-div-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: max-content;
}

.color-85cbe8 {
  color: #85cbe8;
}

.color-396791  {
  color: #396791;
}

.color-cea861  {
  color: #cea861;
}

.color-e2d0c5 {
  color: #e2d0c5;
}

.create-an-account {
  padding: 40px;
}

.display-inline-block {
  display: inline-block;
}
.error-login {
  color: #396791;
  font-weight: bold;
}

@media (min-width: 768px) {
  .error-login {
    margin-left: auto;
  }
}

.form-register {
  margin: auto;
  max-width: 300px;
}

.input {
  max-width: 300px;
  margin: 8px 0;
}

.introduction {
  padding: 40px;
}

.mb2 {
  margin-bottom: 10px;
}

.passwords-dont-match {
  color: red;
}

.passwords-match {
  color: green;
}

.register-button {
  max-width: 200px;
}

.row {
  margin-left: 1px;
  margin-right: 1px;
}

.test-center {
  text-align: center;
}

#book-reviews {
  background-color: #396791;
  border: 2px solid #85cbe8;
  border-radius: 5px;
  padding: 10px;
}

#login {
  margin-left: auto;
}

@media (max-width: 767px) {
  #login {
    margin-right: auto;
  }
}

#navbar {
  color: white;
  background-color: #396791;
  border: 2px solid #85cbe8;
  border-radius: 5px;
  margin: 10px 0;
}

#search-results {
  background-color: #396791;
  border: 2px solid #85cbe8;
  border-radius: 5px;
  padding: 10px;
}

#user-panel {
  background-color: #396791;
  border: 2px solid #85cbe8;
  border-radius: 5px;
  padding: 10px;
}



/* ========================= HEADER ========================= */
#header-background {
  background-image: url('../img/book-review-background-01.svg');
  /* border: 3px solid #cea861; */
  /* border: 3px solid #603813; */
  /* border: 3px solid #396791; */
  border: 3px solid #85cbe8;
  border-radius: 2px;
  height: 232px;
  width: 100%;
}

#header-background-wrapper {
  /* border: 3px solid #cea861; */
  /* border: 3px solid #603813; */
  border: 3px solid #396791;
  /* border: 3px solid #85cbe8; */
  border-radius: 5px;
  height: 238px;
  margin-top: 10px;
  width: 100%;
}

#header-logo {
  display: block;
  margin: 10px auto;
}



/* ========================= FOOTER ========================= */
#footer-background {
  background-image: url('../img/book-review-background-01.svg');
  border: 3px solid #85cbe8;
  border-radius: 2px;
  height: 90px;
  padding: 10px;
  width: 100%;
}

#footer-background-wrapper {
  border: 3px solid #396791;
  border-radius: 5px;
  height: 96px;
  width: 100%;
}

#footer-text {
  background-color: #396791;
  border: 2px solid #85cbe8;
  border-radius: 5px;
  color: white;
  padding: 10px;
}

#footer-text-wrapper {
  margin: 20px 10px 0 auto;
  width: max-content;
}



/* ========================= MODAL ========================= */
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal2 */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9999; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: white;
  margin: auto;
  padding: 0;
  border: 2px solid #85cbe8;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0,0,100,0.2),0 6px 20px 0 rgba(0,0,100,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #396791;
  color: white;
}

.modal-body {
  color: #396791;
  padding: 5px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #396791;
  color: white;
}