a {
  color: #85cbe8;
}

a:hover {
  color: white;
}

body {
  /* background-image: url('../img/book-review-background-03.svg'); */
  background-color: #e2d0c5;
  /* background-color: white; */
  color: white;
  height: 100%;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.btn {
  color: white;
  background-color: #396791;
  border: none;
}

.btn-submit {
  border: 2px solid #85cbe8;
}

.btn:hover {
  color: #396791;
  background-color: #85cbe8;
}

.center-div-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: max-content;
}

.color-85cbe8 {
  color: #85cbe8;
}

.color-396791  {
  color: #396791;
}

.color-cea861  {
  color: #cea861;
}

.color-e2d0c5 {
  color: #e2d0c5;
}

.mb2 {
  margin-bottom: 10x;
}

.row {
  margin-left: 1px;
  margin-right: 1px;
}

#book-reviews {
  background-color: #396791;
  border: 2px solid #85cbe8;
  border-radius: 5px;
  padding: 10px;
}

#header-background {
  background-image: url('../img/book-review-background-01.svg');
  /* border: 3px solid #cea861; */
  /* border: 3px solid #603813; */
  /* border: 3px solid #396791; */
  border: 3px solid #85cbe8;
  border-radius: 2px;
  height: 232px;
  /* margin-top: 10px; */
  width: 100%;
}

#header-background-wrapper {
  /* border: 3px solid #cea861; */
  /* border: 3px solid #603813; */
  border: 3px solid #396791;
  /* border: 3px solid #85cbe8; */
  border-radius: 5px;
  height: 238px;
  margin-top: 10px;
  width: 100%;
}

#header-logo {
  display: block;
  margin: 10px auto;
}

#navbar {
  color: white;
  background-color: #396791;
  border: 2px solid #85cbe8;
  border-radius: 5px;
  margin-top: 10px;
}

#search-results {
  background-color: #396791;
  border: 2px solid #85cbe8;
  border-radius: 5px;
  padding: 10px;
}

#user-panel {
  background-color: #396791;
  border: 2px solid #85cbe8;
  border-radius: 5px;
  padding: 10px;
}