<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>index.html</title>
</head>
<body>
  <p>
    <a href="{{ url_for('logout') }}">Logout</a>
  </p>
  <form action="/search" method="post">
    Search:<br>
    <input type="text" name="search_bar" placeholder="Enter title, author, or ISBN number">
    <button type="submit">Submit</button>
  </form>
  <p>
    <h4>API JSON Results:</h4>
    api_json_format: {{ api_json_format }}
  </p>
</body>
</html>