{% extends "layout.html" %}

  <!-- Custom CSS, JavaScript, Title -->
  {% block custom_css %} <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> {% endblock %}
  {% block js %} <script src="{{ url_for('static', filename='js/book.js') }}"></script> {% endblock %}
  {% block title %} <title>CS50 - Book Reviews w/Goodreads - Index</title> {% endblock %}

  <!-- Body -->
  {% block body %}

  <!-- Header & Logo -->
  {% include 'header_and_logo.html' %}

  <!-- Search Bar -->
  {% include 'search_bar.html' %}

  <!-- The Modal -->
  {% include 'modal.html' %}

  <div class="row">

    <!-- User Panel -->
    {% include 'user_panel.html' %}

    <!-- Book Reviews -->
    <div class="col-md-8 mt-3 mt-md-0" id="book-reviews">
      <p>
        <h5>Information:</h5>
        Title: {{ specific_book[0].title }}<br>
        Author: {{ specific_book[0].author }}<br>
        Year: {{ specific_book[0].year }}<br>
        ISBN: {{ specific_book[0].isbn }}
      </p>

      <p>
        <h5>Reviews:</h5>
        <ul>
        {% for user_review in user_reviews: %}
          <li>{{ user_review.username }}: {{ user_review.review }}</li>
        {% endfor %}
        </ul>
      </p>

      <p>
        Average rating: {{ ratings_avg }} / 5.0<br>
        Number of reviews: {{ ratings_count }}
      </p>

      <p>
        <h5>Goodreads reviews:</h5>
        Average rating: {{ goodreads_response_json_avg }} / 5.0<br>
        Number of reviews: {{ goodreads_response_json_count }}
      </p>

      <!-- User submitted reviews -->
      <p>
        <h5>Write a review & rate this book:</h5>
        <form action="{{ url_for('book', book_id=book_id) }}" method="post">
          <div>
            <textarea style="width: 100%" type="text" name="write_review" rows="4"></textarea>
          </div>

          <div class="center-div-wrapper">
            <input value="0" type="hidden" id="rating-selection" name="rating-selection">
            <span class="far fa-star rating-stars" id="star-1" data-rating="1"></span>
            <span class="far fa-star rating-stars" id="star-2" data-rating="2"></span>
            <span class="far fa-star rating-stars" id="star-3" data-rating="3"></span>
            <span class="far fa-star rating-stars" id="star-4" data-rating="4"></span>
            <span class="far fa-star rating-stars" id="star-5" data-rating="5"> </span>            
          </div>

          <div class="center-div-wrapper my-3">
            <span>{{ alert }}</span>
          </div>

          <div class="center-div-wrapper">
            <button class="btn btn-submit" type="submit">Submit</button>
          </div>
        </form>
      </p>
    </div>
  </div>

{% endblock %}