{% extends "layout.html" %}

<!-- Custom CSS, JavaScript, Title -->
{% block custom_css %} <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> {% endblock %}
{% block js %} <script src="{{ url_for('static', filename='js/index.js') }}"></script> {% endblock %}
{% block title %} <title>CS50 - Book Reviews w/Goodreads - Index</title> {% endblock %}

<!-- Body -->
{% block body %}

  <!-- Header & Logo -->
  {% include 'header-and-logo.html' %}

  <!-- Search Bar -->
  {% include 'search-bar.html' %}

  <!-- The Modal -->
  {% include 'modal.html' %}

  <div class="row">

    <!-- User Panel -->
    {% include 'user-panel.html' %}

    <!-- Search Results -->
    <div class="col-md-8 search-results mt-3 mt-md-0">
      <h6 id="search-results-message">{{ search_results_message }}{{ alert }}</h6>
      <ul>
        {% for search_result in search_results_list: %}
          <li><a href="{{ url_for('book', book_id=search_result.id) }}">{{ search_result.title }}</a> by {{ search_result.author }} ({{ search_result.year }}), ISBN: {{ search_result.isbn }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>

{% endblock %}