{% extends "layout.html" %}

  <!-- Custom CSS, JavaScript, Title -->
  {% block custom_css %} <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> {% endblock %}
  {% block js %} <script src="{{ url_for('static', filename='js/index.js') }}"></script> {% endblock %}
  {% block title %} <title>CS50 - Book Reviews w/Goodreads - Index</title> {% endblock %}

  <!-- Body -->
{% block body %}
<div class="container">

  <!-- Header & Logo -->
  <div id="header-background-wrapper">
    <div id="header-background">
      <img id="header-logo" src="{{ url_for('static', filename='img/book-review-logo-01.svg') }}">
    </div>
  </div>

  <!-- Search Bar -->
  <form action="/" method="post">
    <nav id="navbar">
      <div class="row p-3">
        <div class="input-group">
          <input type="text" class="form-control" name="search_bar" placeholder="Search books" aria-label="Search books">
          <input value="5" type="hidden" id="results_limit" name="results_limit">
          <div class="input-group-append">
            <button class="btn btn-outline-primary" type="submit"><span class="fas fa-search"></span></button>
            <button class="btn btn-outline-primary dropdown-toggle" id="dropdown-selection" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Show 5 Results</button>
            <div class="dropdown-menu">
              <a class="dropdown-item" data-results="5" id="show-5-results" href="#">Show 5 Results</a>
              <a class="dropdown-item" data-results="10" id="show-10-results" href="#">Show 10 Results</a>
              <a class="dropdown-item" data-results="20" id="show-20-results" href="#">Show 20 Results</a>
              <div role="separator" class="dropdown-divider"></div>
              <a class="dropdown-item" data-results="42" id="show-all-results" href="#">Show All</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </form>

  <!-- User Panel/Logout -->
  <div class="row mt-3">
    <div class="col-md-3 mr-auto" id="user-panel">
      <h5>Welcome, {{ user }}!</h5>
      <a href="{{ url_for('logout')}}">Logout</a>
    </div>

    <!-- Search Results -->
    <div class="col-md-8 mt-3 mt-md-0" id="search-results">
      <h6 id="search-results-message">{{ search_results_message }}{{ alert }}</h6>
      <ul>
        {% for search_result in search_results_list: %}
          <li><a href="{{ url_for('book', book_id=search_result.id) }}">{{ search_result.title }}</a> by {{ search_result.author }} ({{ search_result.year }}), ISBN: {{ search_result.isbn }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>

</div>
{% endblock %}