{% extends "layout.html" %}

  <!-- Custom CSS, JavaScript, Title -->
  {% block custom_css %} <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> {% endblock %}
  {% block js %} <script src="{{ url_for('static', filename='js/login.js') }}"></script> {% endblock %}
  {% block title %} <title>Login</title> {% endblock %}

<!-- Body -->
{% block body %}

  <!-- Header & Logo -->
  {% include 'header_and_logo.html' %}

  <!-- Navbar/Login -->
  <nav class="navbar navbar-expand-md" id="navbar">
    <div></div>
    <div id="login">
      <span  class="display-inline-block error-login">{{ alert }}</span>
      <form  class="display-inline-block form-inline mt-2 mt-md-0" action="/login" method="post">
        <input class="form-control mr-sm-2 input" type="text" name="user_name" placeholder="Username" aria-label="Username" required>
        <input class="form-control mr-sm-2 input" type="password" name="password" placeholder="Password" aria-label="Password" required>
        <button class="btn" type="submit">Log In</button>
      </form>
    </div>
  </nav>
  
  <div class="row">

    <!-- Introduction -->
    <div class="col-md-6 introduction" id="search-results">
      <h3>CS50 - Web Development with Python and Javascript</h3>
      <h4><span class="">Project 1</span></h4>
      <p class="lead">The website is powered by Flask, styled with Bootstrap 4, and uses a Heroku Postgres database. It allows visitors to search for 5000 books stored in its database, read and write reviews for those books, view ratings on the same books from a site called "Goodreads" (https://www.goodreads.com/), and retrieve book reviews and details through an API.</p>
      <p class="lead">To get started, <a href="#create_an_account">create an account</a> or <a href="#">log in</a>.</p>
    </div>

    <!-- Create a new account -->
    <div class="col-md-6 create-an-account">
      <a id="create_an_account"></a>
      <form class="form" action="/register" method="post">
        <h1 class="h3 mb-3 color-396791">Create an account</h1>

        <label for="inputUserName" class="sr-only">Username</label>
        <input type="text" name="register_user_name" class="form-control input" placeholder="Username" required>
        
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="register_password" name="register_password" class="form-control input" placeholder="Password" required>
        
        <label for="inputPassword" class="sr-only">Password (again)</label>
        <input type="password" id="register_password_again" name="register_password_again" class="form-control input" placeholder="Password (again)" required>
        
        <p><span id="passwords_match"></span></p>

        <button class="btn btn-lg btn-block register-button" type="submit">Register</button>
      </form>
    </div>
  </div>

{% endblock %}